requests
aiofiles
distro
aiohttp
faker
colorama
pyfiglet
websocket-client
pycryptodome
psutil
urllib3
python-socketio
tqdm
requests[socks]
httpx[http2]
asyncio
bs4
cryptography
termcolor
