requests
httpx
astor
python-socketio[client]
python-socketio
python-dateutil
python-engineio
python-dotenv
python-socks
aiohttp_socks
pytz
websocket-client
distro
bs4
faker
aiohttp
pyfiglet
colorama
tqdm
psutil
asyncio
aiofiles
pycryptodome
requests[socks]
cloudscraper
fake-useragent
Faker
getuseragent
pycryptodome
